jax[cuda12_pip]
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
dreamerv3 @ git+https://github.com/Kinds-of-Intelligence-CFI/dreamerv3-compat.git#egg=dreamerv3
animalai @ git+https://github.com/Kinds-of-Intelligence-CFI/animal-ai.git@720f25762eaaf90be70fd507b5efc24ae097432d#egg=animalai&subdirectory=animalai
numpy==1.21.2
gym==0.26.2